# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
*.log

# Model ML
*.pkl

# Secrets
service-account.json

# Build
dist/
build/

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

service_account.json